.Product {
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
}

// Main Image
.imageWrapper{
    border-radius: 3px;
    width: 100%;
    height: auto;
    position:relative;
    overflow:hidden;
}
.Image {
    width: 100%;
}
.soldOut{
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    font-weight: bold;
    color:white;
    // border: 3px solid white;
    // border-left: none;
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem;
    padding: .5rem 1rem;
    background-color: rgb(255, 72, 102);
}


// Texts
.TextBox{
    display: flex;
    padding: .5rem 1rem .3rem 1rem;
    justify-content: space-between;
}
.Main {
    font-weight: bold;
    font-size: 2rem;
}
.Sub {
    text-align: right;
    font-size: 1rem;
}
