@import '../../../styles/setting.module.scss';

//TopBar
.TopBar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: $top-height;
    padding: 0 2rem 0 0;
    border-bottom: .5px solid $color-light-gray;

    display: flex;
}

.GoBack{
    width: 5rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}