@import '../../../styles/setting.module.scss';

.Main {
    line-height: 1.2;
    padding-top: 5.5rem;
    margin-bottom: $bottom-height;
    
    h2, h3 {
        margin: 1rem 0;
    }
    
    @media only screen and (min-width: 600px) {
        padding-top: 0;
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}

.Container {
    padding: 1rem 2rem;

}

.subContainer {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 1rem 2rem 2rem 2rem;
}

// Main Image
.Image {
    width: 100%;

    @media only screen and (min-width: 600px) {
        border-radius: 5px;
        margin-top: 2rem;
    }
}
