.form {
    width: 80%;
    max-width: 60rem;
    margin: 0 auto;
    margin-top: 6rem;

    input {
        font-size: 1.6rem;
        display: block;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: .5rem .5rem;
        margin-bottom: 1rem;
        color:inherit;
    }
    @media (min-width: 600px) {
        width: 600px;
        margin-top: 2rem;
    }
}