@import '../../../styles//setting.module.scss';

// Bottom Bar
.BottomBar {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: $bottom-height;
    padding: 0 2rem;
    border-top: .5px solid $color-light-gray;

    display: flex;
    padding: 1rem 2rem;
    justify-content: space-around;

    @media (min-width: 800px) {
        justify-content: center;
    }
}

.text {
    font-size: 2.5rem;
    font-weight: bold;
    @media (min-width: 800px) {
        margin-right: 20rem;
    }
}

.button {
    font-size: inherit;
    padding: .5rem 1rem;
    min-width: 15rem;
    max-width: 30rem;
    border: none;
    border-radius: 3px;
    outline: none;
    color: white;
    background-color: $color-primary;
}


