.Setting {
    margin-right: auto;
    padding-left: 2rem;
    h3 {
        color: #555;
    }
}
.links {
    padding-left: 2rem; 
}

.Link {
    display: block;
    color: rgb(102, 137, 211);
    font-size: 1.6rem;
    width: auto;
}